---

dist: bionic
language: generic
python:
    - "2.7"
    - "3.7"
addons:
    apt:
        update: true
install:
    - sudo apt-get install -y shellcheck
    - pip install --user --upgrade pip
    - pip install --user tox
before_script:
    - pip --version
    - tox --version
script: tox -e py2,py3,travis --parallel auto
notifications:
    email:
        on_success: change
        on_failure: always

...
